[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={{APP_USER}}
Group=www-data
WorkingDirectory=/home/djangouser/app/Ormuco
EnvironmentFile=/home/{{APP_USER}}/app/Ormuco/env
ExecStart=/home/djangouser/app/appenv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/djangouser/app/OrmucoApp.sock OrmucoApp.wsgi:application

[Install]
WantedBy=multi-user.target

